<section class="w-full h-full pt-24 bg-secondary flex flex-col p-8 relative 
md:justify-center overflow-hidden rounded-t-xl md:rounded-l-xl md:rounded-e-none
lg:items-center lg:h-screen">
  <span class="text-[8.4rem] md:text-[12rem] lg:text-[8.4rem] font-belgrano text-white/10 absolute top-full left-full -z-0 leading-none spaan">Artizie.</span>

  <!-- image decorativa -->
  <figure class="relative z-0">
    <img
      class="w-full max-w-[380px] object-cover px-5"
      src="hero/principal.png"
      alt="imagen decorativa y principal del hero de la pagina"
    />
  </figure>

  <!-- user information -->
  <section class="bg-white w-full max-w-[380px] p-4 text-xs rounded-sm relative z-0">
    <div
      class="flex justify-between items-center border-b-[1px] border-solid border-secondary pb-4"
    >
      <div class="flex gap-1 items-center">
        <img class="w-12" src="hero/perfil.png" alt="profile-picture" />

        <article class="flex flex-col">
          <p class="text-secondary/80">@samanthaw</p>
          <p class="font-bold text-sm">Artwork #01</p>
        </article>
      </div>

      <article class="flex flex-col text-end">
        <p class="text-secondary/80">Current Bid</p>
        <p class="font-bold text-sm">1.00 ETH</p>
      </article>
    </div>

    <!-- enlaces de usuario -->
    <div class="flex pt-4">
      <a class="w-full text-center py-2 bg-primary text-white transition-scale duration-300 hover:scale-105" href="#"
        >Bid Now</a
      >
      <a
        class="w-full text-center py-2 bg-white text-primary font-semibold transition-scale duration-300 hover:scale-105"
        href="#">View Artwork</a
      >
    </div>
  </section>

  <!-- ultimate information -->
  <div class="w-full max-w-[380px] text-white flex justify-between text-xs mt-5 relative z-0">
    <p class="">
      <span class="font-semibold text-base text-primary">50k+</span> Artwork
    </p>
    <p class="">
      <span class="font-semibold text-base text-primary">30k+</span> Artist
    </p>
    <p class="">
      <span class="font-semibold text-base text-primary">20k+</span> Auction
    </p>
  </div>
</section>

<style>
  .spaan {
    transform: rotate(90deg) translate(-100%, 0%);
    transform-origin: top left;
  }
</style>
