---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

// fonts
import '@fontsource/belgrano';

import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/800.css';
---

<!doctype html>
<html class="html" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={description} />
		<title>{title}</title>
	</head>
	<body class="font-poppins text-secondary">
		<slot />
	</body>
</html>
<style is:global>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>
